.friendMessage {
    display: flex;

}

.friendImageAndText {


}

.friendImageAndText img {
    position: relative;
    width: 70px;
    margin-left: 350px;
    right: 330px;
}

.friendText {
    position: relative;
    width: 350px;
    height: 60px;
    left: 100px;
    bottom: 67px;

    color: white;

    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    background: #0066cc;
}

.friendText:after {

}

.friendName {
    position: relative;
    width: 30px;
    height: 20px;
    left: 10px;
    top: 1px;
    gap: 10px
}

.friendMessageText {
    position: relative;
    left: 10px;
    top: 1px;

}

.friendTime {
    position: relative;
    font-size: 15px;
    right: 385px;
    top: 77px;
}

/*---------------------------------------------------------------------------------------

.friendMessage {
    width: auto;
}

.friendImageAndText {
    position: absolute;
    width: 527px;
    height: 60px;
    left: 20px;
    top: 200px;

}

.friendImageAndText img {
    width: 50px;
    position: absolute;
    margin-right: 414px;
    top: 12px;
}

.friendText {
    width: 373px;
    height: 60px;
    margin-left: 61px;
    top: 1px;
    background: #F5F7FB;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
    border-radius: 10px;
}

.friendText:after {

}

.friendName {
    position: absolute;
    width: 35px;
    height: 20px;
    left: 70px;
    top: 1px;
}

.friendMessageText {
    position: absolute;
    width: 374px;
    height: 20px;
    left: 70px;
    top: 25px;
}

.friendTime {
    position: absolute;
    font-size: 10px;
    height: 12px;
    left: 31px;
    top: 260px;
}














*/